*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
extension.crx
extension.pem
node_modules
.vscode
.idea/deploymentTargetDropDown.xml
.idea/statistic.xml
/app/release/*
/server/public/FMS_Field Monitor_files